html {
	font-size: 62.5%; 
}

body {
	font-size: 1.6rem;
}

body {
    margin: 0;
    background: linear-gradient(to bottom right, #c7ebf7, #0383ec);
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    padding: 20px;
    height: 50px;
}

footer {
    position: absolute;
    bottom:0;
    width: 100%;
}

footer a {
    text-decoration: none;
}

footer p {
    margin: 0;
}
.m-1 {
    padding: 10px;
    height: 120px;
}

.flotte {
    float:left;
}
.float {
    float: right;
    margin-right: 30px;
    display:flex;
}

nav p {
    margin-right: 50px;
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    top:170px;
}

.search-container input[type=text] {
    padding: 10px;
    margin-right: 10px;
    border: none;
}

.search-container button {
    padding: 10px 20px;
    background-color: #6274A0;
    color: white;
    border: none;
    cursor: pointer;
    margin-left:-15px;
}

#weatherInfo {
    text-align: center;
    padding: 19%;
    border-radius: 10px;
}

.weather-info {
    margin-top: 20px;
}

.weather-info img {
    width: 50px;
    height: 50px;
}

.weather-info p {
    margin: 5px 0;
}

